
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Share Button Generator</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .network-settings{height:0px;overflow:hidden;-webkit-transition:.5s linear height;}
      .network-active .network-settings{height:auto;}
      .network input,.network textarea{width:100%;}
      .network td:first-child{width:80px;}

      .buttons{
        font-size:30px;
      }
    </style>
    <link rel="stylesheet" href="css/sbg.css"/>
    <script src='js/sbg.js'></script>
  </head>

  <body>
    <div class='container'>
      <h1>Share Button Generator</h1>
      <p>
        I got tired of looking up sharing APIs everytime I wanted some simple share buttons, so I built this tool.
        You can grab the whole project off of <a href='https://github.com/aakilfernandes/sharebuttongenerator'>Github</a>.
      </p>
    </div>
    <div class='container'>
      <h4>Installation</h4>
      <ol>
        <li>Include <a href="http://fontawesome.io/">Font Awesome</a> if you haven't already 
          <code>&lt;link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/&gt;</code>
        </li>
        <li>
          Download and include the css and js 
          <ul>
            <li>CSS:
              <a href='https://raw.github.com/aakilfernandes/sharebuttongenerator/collectioninview/css/sbg.css'>
                sbg.css
              </a>
            </li>
            <li>JS:
              <a href='https://raw.github.com/aakilfernandes/sharebuttongenerator/collectioninview/js/sbg.js'>
                sbg.js
              </a>
            </li>
          </ul>
        </li>
        <li>Include the HTML from the generator</li>
        <li>Call <code>sbg()</code> after the HTML (and necessary AJAX calls)</li>
      </ol>
    </div>
    <div class="container">
      <div class='row'>
        <div class='col-md-4'>
          <h4>Settings</h4>
          <div class='networks'><form>
          </form></div>
        </div>
        <div class='col-md-8'>
          <div class="output">
            <h4>Preview</h4>
            <div class='buttons'></div>
            <h4>HTML</h4>
            <pre><code class='html'></code></pre>
          </div>
          <div>
            <h4>Questions/Comments</h4>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'sharebuttongenerator'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        </div>
      </div>
    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-switch.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js'></script>
    <script type='text/template' id='template-network-facebook'>
      <h5 class='network-name'>
        <input type="checkbox" name="active" class='network-activate' checked>
        Facebook
      </h5>
      <div class='network-settings'><form><table class='table'>
        <tr><td>URL</td><td><input name='url' value='http://sharebuttongenerator.aakilfernandes.com'/></td></tr>
        <tr><td>Title</td><td><input name='title' value='Share Button Generator'/></td></tr>
        <tr><td>Summary</td><td><textarea name='summary'>Create simple share buttons, no strings attached</textarea></td></tr>
        <tr><td>Image</td><td><input name='image' value='http://sharebuttongenerator.aakilfernandes.com/img/addButton.png'/></td></tr>
        <tr><td>Width</td><td><input name='width' value='600'/></td></tr>
        <tr><td>Height</td><td><input name='height' value='368'/></td></tr>
      </table><form></div>
    </script>
    <script type='text/template' id='template-network-twitter'>
      <h5 class='network-name'>
        <input type="checkbox" name="active" class='network-activate' checked>
        Twitter
      </h5>
      <div class='network-settings'><form><table class='table'>
        <tr><td>Text</td><td><input name='text' value='Create simple share buttons, no strings attached'/></td></tr>
        <tr><td>Via</td><td><input name='via' value='aakilfernandes'/></td></tr>
        <tr><td>Hashtags</td><td><input name='hashtags' value='sharing,simple'/></td></tr>
        <tr><td>Width</td><td><input name='width' value='600'/></td></tr>
        <tr><td>Height</td><td><input name='height' value='258'/></td></tr>
      </table><form></div>
    </script>
    <script type='text/template' id='template-network-linkedin'>
      <h5 class='network-name'>
        <input type="checkbox" name="active" class='network-activate' checked>
        LinkedIn
      </h5>
      <div class='network-settings'><form><table class='table'>
        <tr><td>Url</td><td><input name='url' value='http://sharebuttongenerator.aakilfernandes.com'/></td></tr>
        <tr><td>Title</td><td><input name='title' value='Share Button Generator'/></td></tr>
        <tr><td>Source</td><td><input name='source' value='Aakil Fernandes'/></td></tr>
        <tr><td>Summary</td><td><textarea name='summary'>Create simple share buttons, no strings attached</textarea></td></tr>
        <tr><td>Width</td><td><input name='width' value='585'/></td></tr>
        <tr><td>Height</td><td><input name='height' value='471'/></td></tr>
      </table><form></div>
    </script>
    <script type='text/template' id='template-network-google-plus'>
      <h5 class='network-name'>
        <input type="checkbox" name="active" class='network-activate' checked>
        Google Plus
      </h5>
      <div class='network-settings'><form><table class='table'>
        <tr><td>Url</td><td><input name='url' value='http://sharebuttongenerator.aakilfernandes.com'/></td></tr>
        <tr><td>Width</td><td><input name='width' value='500'/></td></tr>
        <tr><td>Height</td><td><input name='height' value='505'/></td></tr>
      </table><form></div>
    </script>
    <script type='text/template' id='template-network-pinterest'>
      <h5 class='network-name'>
        <input type="checkbox" name="active" class='network-activate' checked>
        Pinterest
      </h5>
      <div class='network-settings'><form><table class='table'>
        <tr><td>Url</td><td><input name='url' value='http://sharebuttongenerator.aakilfernandes.com/'/></td></tr>
        <tr><td>Media</td><td><input name='media' value='http://sharebuttongenerator.aakilfernandes.com/img/addButton.png'/></td></tr>
        <tr><td>Description</td><td><textarea name='description'>Create simple share buttons, no strings attached</textarea></td></tr>
        <tr><td>Width</td><td><input name='width' value='750'/></td></tr>
        <tr><td>Height</td><td><input name='height' value='322'/></td></tr>
      </table><form></div>
    </script>
    <script type='text/template' id='template-network-email'>
      <h5 class='network-name'>
        <input type="checkbox" name="active" class='network-activate' checked>
        Email
      </h5>
      <div class='network-settings'><form><table class='table'>
        <tr><td>Subject</td><td><input name='subject' value='Create simple share buttons'/></td></tr>
        <tr><td>body</td><td><textarea name='body'>No strings attached, visit http://sharebuttongenerator.aakilfernandes.com</textarea></td></tr>
      </table><form></div>
    </script>
    <script type='text/template' id='template-buttons'>
      <% _.each( data, function( model ){ if(!model.attributes.isActive){return;}%>
<a class="sbg-button sbg-button-<%- model.attributes.name %>" <%= model.attributes.settingsDataAttrs %>>
  <i class="sbg-button-icon fa fa-<%- model.attributes.icon %>"></i>
</a>
      <% }); %>
    </script>

    <script>
      _.templateSettings.variable = "data";

      NetworkModel = Backbone.Model.extend({
        defaults:{isActive:true}
      });
      NetworksCollection = Backbone.Collection.extend({
        model: NetworkModel
      });
      NetworksView = Backbone.View.extend({
        el:'.networks'
        ,initialize:function(){
          this.collection.on('add',this.add,this)
        },add:function(model){
          var networkView = new NetworkView({model:model});
          this.$el.append(networkView.$el);
        }
      })
      NetworkView = Backbone.View.extend({
        tagName:'div'
        ,className:'network network-active'
        ,events:{
          'switchChange .network-activate':'activate'
          ,'keyup input':'settingsUpdated'
          ,'keydown input':'settingsUpdated'
          ,'keyup textarea':'settingsUpdated'
          ,'keydown textarea':'settingsUpdated'
        },initialize:function(){
          var networkView=this;
          this.$el.addClass('network-'+this.model.attributes.name);
          
          var template = _.template($('#template-network-'+this.model.attributes.name).html())
          this.$el.append(template());

          this.$form = this.$el.find('form');
          var $activate = this.$el.find('.network-activate');
          $activate.bootstrapSwitch('size','mini');

          this.settingsUpdated();
        },activate:function(e,data){
            var isActive = data.value;
            this.model.set({isActive:isActive})
            if(isActive){
              this.$el.addClass('network-active')
            }else{
              this.$el.removeClass('network-active')
            }
          },settingsUpdated:function(){
            var settings = this.$form.serializeArray() 
            , settingsKeys = _.pluck(settings,'name').join(',')
            , settingsDataAttrs = ' data-sbg-network=\"'+this.model.attributes.name+'\" '

            _.each(settings,function(setting){
              settingsDataAttrs+=
                ' data-sbg-'+setting.name+'=\"'+setting.value.split('"').join('&quot;')+'\" ';
            })

            this.model.set({
              settings:this.$form.serializeArray()
              ,settingsDataAttrs:settingsDataAttrs
            })
          }
      })
      OutputView = Backbone.View.extend({
        el:'.output'
        ,buttonsTemplate: _.template($('#template-buttons').html())
        ,initialize:function(){
          this.$buttons=this.$el.find('.buttons');
          this.$html=this.$el.find('.html');
          this.collection.on('change:isActive',this.render,this)
          this.collection.on('change:settings',this.render,this)
          this.render();
        }
        ,render:function(){
          var buttons = this.buttonsTemplate(this.collection.models).trim();

          this.$buttons.html(buttons)
          this.$html.html(_.escape(buttons))

          sbg();
        }
      })
    </script>
    <script>
      networksCollection = new NetworksCollection;
      networksView = new NetworksView({collection:networksCollection});
      outputView = new OutputView({collection:networksCollection});
    </script>
    <script>
      networksCollection.add([
        new NetworkModel({
          name:'facebook'
          ,icon:'facebook'
        }),new NetworkModel({
          name:'twitter'
          ,icon:'twitter'
        }),new NetworkModel({
          name:'linkedin'
          ,icon:'linkedin'
        }),new NetworkModel({
          name:'google-plus'
          ,icon:'google-plus'
        }),new NetworkModel({
          name:'pinterest'
          ,icon:'pinterest'
        }),new NetworkModel({
          name:'email'
          ,icon:'envelope'
        })
      ]);
    </script>
  </body>
</html>
